{% extends 'base.html'%}

{% block header %}
    <nav>
        <h2 class='logo'><a href="home">Nathan Luong</a></h2>
        <ul>
            <li class="current">Home</li>
            <li> <a href="1p13">1P13</a></li>
            <li> <a href="contact"><button class="contact_button">Contact</button></a></li>
        </ul>
    </nav>
{% endblock %}

{% block body %}

    <div class="container">
        <div id="personal_card">
            <img id = "avatar" src="static/photo/avatar.png" alt="Potrait">
            <div id="intro_content_box">
                <h1>Nathan Luong</h1>
                <p>An engineer with vision</p>
                <ul id = "social_links">
                    <li><a href="https://github.com/nathan20021" target="_blank"><i class="fab fa-github"></i></a></li>
                    <li class="hover_link" id ="linkedin"><a href="https://www.linkedin.com/in/nathan-luong-303158203/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                    <li class='hover_link' id="email">
                        <a href="mailto:nhanto20021@gmail.com"><i class="far fa-envelope"></i></a>
                        <span class="text_underneath" id ="email_text">
                            nhanto20021@gmail.com
                            luongn4@mcmaster.ca
                        </span>
                    </li>
                    
                    <li class='hover_link' id="phone">
                        <i class="fas fa-phone-alt"></i>
                        <span class="text_underneath" id ="phone_text">
                            Canada:  +1 647-674-6843
                            Vietnam: +84 091-341-7272
                        </span>
                    </li>
                    <li><a href="https://www.facebook.com/trongnhan.luong.965" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://www.instagram.com/nathan_luonggg_/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    
                    <li class='hover_link' id="discord">
                        <i class="fab fa-discord"></i>
                        <span class="text_underneath" id ="discord_text">Nate_no_Nerd#7154</span>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div id="intro">
        <div class="container center_items" id="intro_content_container">
            <h1>Hey!! Thanks for stopping by!</h1>
            <p>I'm Nathan from DaNang, Vietnam!</p>
            <p>I love programming, as well as running, playing guitar and learning new things.</p>
            <p>Below is my journey and experience in programming.</p>
            <p>Feel free to reach out and keep in touch &#128515</p>
            <span><i class="fas fa-chevron-down"></i></span>
        </div>
    </div>


    <div class="container">
        <div id="portfolio">

            <h1 class="center_items">Portfolio</h1>

            <div id="projects_container">
                <h2>My top projects</h2>
                {% for project_rows in projects|batch(3) %}
                    <div class="group_3_projects">
                    {% for project in project_rows%}
                        <div class="{{'project_box ' + color_classes[project.color-1]}}">
                            <div class='single_project_content_container'>
                                <img src="{{url_for('static', filename=project.p_img)}}" alt="{{project.p_img}}">
                                <h2> {{project.title}} </h2>
                                <p> {{project.description}} </p>
                                <div class="project_info_bar">
                                    <span><a href="{{project.GH_link}}" target="_blank"> GitHub </a></span>
                                    {% if project.demo%}
                                        <span class="demo"><a href="{{project.YT_link}}" target="_blank"> Demo </a></span>
                                    {%endif%}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
